.artist-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.artist-card {
  text-align: center;
  width: 150px;
}

.artist-photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* Using 50% for perfect circle */
  border: 4px solid #fff;
  /* White border for contrast */
  margin-bottom: 10px;
  transition: transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.artist-avatar {
  background: linear-gradient(135deg, #6e8efb, #a777e3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  overflow: hidden;
  word-wrap: break-word;
}

.artist-photo:hover {
  transform: scale(1.1) rotate(5deg);
}

.artist-country {
  color: #888;
  font-size: 0.9rem;
}