.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1a1a1a; 
  border-bottom: 1px solid #333;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.navbar-links,
.navbar-logo {
  display: flex;
  align-items: center; 
  margin: 0;
  padding: 0;
  list-style: none; 
}


.navbar-links a,
.navbar-logo a {
  color: #eee;
  text-decoration: none; 
  font-weight: 500;
  transition: color 0.3s;
}


.navbar-links a:hover,
.navbar-logo a:hover {
  color: #646cff;
}




.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #6568ca; */
}

.navbar-links {
  gap: 20px; 
}